.container {
	background-color: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(4px);
	
	padding: 40px 20px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 50px;

	.name-container {
		h2 {
			text-align: center;
			font-size: 1.75rem;
			color: white;
			text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
		}
	}

	.flags-container {
		width: 100%;
	
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 20px;
		grid-row-gap: 20px;

		align-items: center;
		
		.img-container {
			width: calc(90vw / 2 - 40px / 2);
			max-width: 300px;
			
			height: auto;
			max-height: 200px;

			img {
				cursor: pointer;
				width: 100%;
				max-height: 200px;
				object-fit: contain;
			}
		}
	}

	.result {
		h2 {
			font-size: 1.75rem;
			color: white;
			text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
		}
	}
}
